name: React CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          cd src
          npm install

      - name: Install dependencies
        run: npm ci

      - name: Fix react-scripts Permissions
        run: chmod +x node_modules/.bin/react-scripts

      - name: Install Testing Library Dependencies
        run: npm install --save-dev @testing-library/react @testing-library/jest-dom @testing-library/user-event


      - name: Run Tests
        run: npm test -- --watchAll=false
